@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  padding: 0px;
  margin: 0px;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  
} */

.navbar {
  background-color: #333;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
}

.navimg {
  display: grid;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.navbar li {
  display: inline;
  padding: 1.2vh;
}
.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #ffc436;
  font-size: 17px;
}

.containerbdy {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-basis: calc(33.333% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.heading {
  margin-top: 70px;
  padding: 20px;
}

.search-bar {
  padding: 7px;
}

.foot {
  color: #fff;
  background-color: #333;
}

footer .nav .nav-link {
  text-decoration: none;
  color: #fff;
}

footer {
  color: white;
}

/* for Jquery */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Apply blur effect */
  z-index: 999; /* Ensure it's above other content */
}

/* Style the modal */
.modaly {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000; /* Ensure it's above the blurred background */
}

.modal a {
  line-height: 1em;
}
/*  Hero Section */

.hero-section {
  margin-top: 62px;
  width: 100%;
}

.carousel-inner * {
  border-radius: 30px;
}

.product-div {
  border-radius: 30px;
}
