@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
body{
  padding: 0px;
  margin: 0px;
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  
} */

.navbar {
  background-color: #333;
  height: 64px;  
  display:flex;
  justify-content: space-evenly;
}

.navimg {
  display: grid;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.navbar li {
  display: inline;
  padding: 1.2vh;
}
.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #ffc436;
  font-size: 17px;
}

.containerbdy {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-basis: calc(33.333% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
 

}

.heading {
  margin-top: 70px;
  padding: 20px;
}

.search-bar{
  padding: 7px;
}

.foot{
  color: #fff;
  background-color: #333;
}


footer .nav .nav-link{
  text-decoration: none;
  color:#fff;
}

footer{
  color: white;
}