@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

body {
  padding: 0px;
  margin: 0px;
  background: #eee;
  background-color: rgb(174, 182, 190);
  background-image: url(background2.png);
}

/* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;


  
} */

.navbar {
  background-color: #333;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
}

.navimg {
  display: grid;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.navbar li {
  display: inline;
  padding: 1.2vh;
}
.navbar li a {
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: #ffc436;
  font-size: 17px;
}

.containerbdy {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.column {
  flex-basis: calc(33.333% - 20px);
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.heading {
  margin-top: 70px;
  padding: 20px;
}

.search-bar {
  padding: 7px;
}

.foot {
  color: #fff;
  background-color: #333;
}

footer .nav .nav-link {
  text-decoration: none;
  color: #fff;
}

footer {
  color: white;
}

/* for Jquery */

body {
  background: #eee;
}
.modaly {
  padding: 40px;
  background: #fff;
  width: 300px;
  height: 300px;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  margin-top: -50px;
  left: 46%;
  margin-left: -100px;
  line-height: 25px;
  z-index: 99;
}
.modal a {
  line-height: 1em;
}
.modal-bg {
  background: #fff;
  zoom: 1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
}
